/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap"); */
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #fcfcfc;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

* {
  margin: 0px;
  padding: 0px;
}
html {
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}
section {
  margin-top: 4%;
}

/* navbar  */
#navbar li a:hover {
  background-color: white;
  color: black;
  border-radius: 100px;
}
#navbar li a:active {
  color: rgb(126, 118, 104);
}

nav {
  display: flex;
  position: fixed;
  background-color: rgb(100, 100, 236);
  position: sticky;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  height: 80px;
  padding: 0.5px;
  align-items: center;
}
#navbar::before {
  content: "";
  /* background-color: rgb(15, 15, 15); */
  position: absolute;
  top: 0;
  z-index: -1;
  height: 80px;
  width: 100%;
  opacity: 0.5;
}

nav #logo {
  float: left;
  display: flex;
  color: white;
  margin-left: 5%;
}

nav .links {
  /* float: right; */
  right: 20px;
  padding: 0;
  margin: 0;
  width: 80%;
  display: flex;
  height: 80px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

nav .links li {
  margin: 5px 6px;
  padding: 2px 10px;
  list-style: none;
  text-align: center;
  justify-content: center;
}
nav .links a {
  justify-content: space-evenly;
  /* justify-content: center; */
  text-align: center;
  display: block;
  text-decoration: none;
  display: block;
  padding: 12px 1em;
  color: white;
  font-size: 20px;
  width: 100px;
}
#nav-toggle {
  position: absolute;
  top: -100px;
}
nav .icon-burger {
  display: none;
  position: absolute;
  right: 5%;
  top: 25%;
  transform: translate(-50%);
}
nav .icon-burger .line {
  width: 30px;
  height: 5px;
  background-color: white;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 770px) {
  nav .links li {
    padding: 2px 0px;
    margin: 4px 0px;
  }
}
@media (max-width: 660px) {
  label {
    margin-right: 0px;
  }
  #navbar::before {
    height: 60px;
  }
  nav #logo {
    float: none;
    width: 250px;
    justify-content: center;
  }
  #logo img {
    margin-right: 60%;
    height: 50px;
    width: 50px;
  }
  nav .links {
    float: none;
    position: fixed;
    z-index: 9;
    left: 50%;
    right: 0;
    top: 60px;
    bottom: 77%;
    width: 55%;
    height: auto;
    margin-bottom: 280px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    opacity: 0.4;
    overflow: hidden;
    /* box-sizing: border-box; */
    transition: all 0.5s ease-in-out;
  }
  nav .links li {
    padding: 2px 0px;
  }

  nav .links a {
    font-size: 23px;
    width: 110px;
    height: 48px;
  }
  nav :checked ~ .links {
    bottom: 0;
  }
  nav .icon-burger {
    display: block;
  }
}
/* navbar end */

label {
  margin-right: 20px;
}

.heading {
  font-size: 30px;
  margin-bottom: 1rem;
}
.headingA{
  color: rgb(22, 21, 21);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  height: 500px;
  width: 100%;
}
.hero::before {
  content: "";
  background: url("../photos/portfolio-background.png") no-repeat center
    center/cover;
  position: absolute;
  top: 20px;
  z-index: -1;
  height: 80%;
  width: 100%;
  opacity: 0.9;
}
.hero img {
  height: 37.5rem;
  width: 37.5rem;
}
.bio {
  width: 24rem;
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin-left: 40%;
  margin-top: 10px;
  /* background-color: rgb(175, 171, 171); */
}
.bio-text {
  color: white;
}
.more-about {
  background-color: var(--bg-color);
  padding: 1rem 9rem;
  margin-top: 60px;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}
.icon-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}

.projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}
.project-pic {
  width: 70px;
  height: 70px;
  border-radius: 25px;
}
.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-container p {
  padding: 0.4rem;
}
.project-title {
  margin-bottom: var(--bottom-margin);
  text-align: center;
}
.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
  height: 200px;
  width: 25%;
}

.contact {
  margin-top: 2rem;
  margin-top: 30px;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin-2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
}
.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
  color: var(--primary-color);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
}

.contact-form-container .input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset var(--primary-color);
  font-size: 0.875rem;
  outline: none;
}
.input-field::placeholder {
  padding: 0.5rem;
  color: var(--primary-color);
}
.submit-btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: var(--bold-font);
  transition: var(--transition);
}
.submit-btn:hover {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: white;
}

.socials {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  bottom: 50%;
}
.socicon {
  width: 3rem;
  height: 3rem;
}

footer {
  background-color: var(--bg-color);
  padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
